*{
    box-sizing: border-box;
}

ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

li{
    font-family: sans-serif;
    text-align: center;
    display: inline-block;
    flex: 1 1 150px;
}